@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Oswald';

#header {
    margin: auto;
    margin-top: 40px;
    width: 50%;
    text-align: center;
    font-family: "Lobster";
}

#timer-container {
    font-family: "Oswald";
    margin: auto;
    width: 50%;
    text-align: center;
}

#shape-field {
    width: 100%;
}
